<!-- All svg's are stored here -->
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <!--Logo Home-->
  <symbol
    xmlns="http://www.w3.org/2000/svg"
    id="Home"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.698 2.799a2 2 0 012.604 0l6.336 5.43 2.487 1.99a1 1 0 11-1.25 1.562l-.875-.7V19a2 2 0 01-2 2h-4v-5a2 2 0 10-4 0v5H6a2 2 0 01-2-2v-7.92l-.875.7a1 1 0 11-1.25-1.56l2.487-1.99 6.336-5.431z"
      fill="white"
    />
  </symbol>
  <!--Logo Setting-->
  <symbol
    xmlns="http://www.w3.o =rg/2000/svg"
    id="Setting"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path d="m0 0h24v24h-24z" fill="none" />
    <path
      fill="white"
      d="m19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22l-1.91 3.32c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61zm-7.14 2.66c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"
    />
  </symbol>
  <!--Logo User-->
  <symbol
    xmlns="http://www.w3.org/2000/svg"
    id="User"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g fill="#fff">
      <path
        d="m12 12c2.7614 0 5-2.23858 5-5s-2.2386-5-5-5c-2.76142 0-5 2.23858-5 5s2.23858 5 5 5z"
      />
      <path
        d="m12.0002 14.5c-5.01004 0-9.09004 3.36-9.09004 7.5 0 .28.22.5.5.5h17.18004c.28 0 .5-.22.5-.5 0-4.14-4.08-7.5-9.09-7.5z"
      />
    </g>
  </symbol>
</svg>
<!-- The end of stored svgs -->

<!-- Content Start Here -->
<!-- Header Full Width -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <!-- Logo "Home" -->
        <a class="navbar-brand ms-2" href="{% url 'dashboard_app:dashboard' %}">
            <svg width="30" height="30">
        <use xlink:href="#Home" />
      </svg>
        </a>
        <!-- Dropdown Gambar Setting -->
        <div class="nav-item dropdown ms-2">
            <a class="navbar-brand" href="#" data-bs-toggle="dropdown">
                <svg width="30" height="30">
          <use xlink:href="#Setting" />
        </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownSetting">
                <!-- Baris Members -->
                <a class="dropdown-item" href="#">Members</a>
                <div class="dropdown-divider"></div>
                <!-- Garis pemisah -->
                <!-- Baris Monitorings -->
                <a class="dropdown-item" href="{% url 'setting_app:monitoring' %}">Monitorings</a
        >
      </div>
    </div>

    <!-- Tanggal dan Jam Real-Time -->
    <div class="navbar-center-content mx-auto">
      <span id="real-time-clock"></span>
    </div>

    <!-- Dropdown Gambar Pengguna -->
    <div class="nav-item dropdown mr-auto">
      <a class="navbar-brand" href="#" data-bs-toggle="dropdown">
        <svg width="30" height="30">
          <use xlink:href="#User" />
        </svg>
      </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                    <!-- Baris Profil -->
                    <a class="dropdown-item" href="#">Profil</a>
                    <div class="dropdown-divider"></div>
                    <!-- Garis pemisah -->
                    <!-- Baris Logout -->
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
    </nav>
</header>