<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %} <meta http-equiv="refresh" content="4" /> {% endcomment %}
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Arbutus+Slab"
        />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/members.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
        
        <title>Dashboard Menotoring User</title>
    </head>

    <body>
        {% include "header.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="row m-lg-5">
                        <div class="Settings" style="width: 299px; left: 20px; top: 70px; position: absolute; color: #2a4150; font-size: 40px; font-family: Roboto; font-weight: 100; line-height: 65px; word-wrap: break-word;">SETTINGS</div>
                        <div class="garis" style="width: 299px; left: 230px; top: 70px; position: absolute; color: #2a4150; font-size: 40px; font-family: Roboto; font-weight: 100; line-height: 55px; word-wrap: break-word;">|</div>
                        <div class="Monitoring" style="width: 277px; left: 310px; top: 80px; position: absolute; color: #2a4150; font-size: 36px; font-family: Roboto; font-weight: 90; line-height: 46.8px; word-wrap: break-word;">Members</div>
                    </div>
                    <div class="row m-lg-5  mt-5">
                        <!-- Content -->
                        <div class="col">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search" autofocus>
                                </form>
                                <button type="button" class="btn" style="background: #2A4150; color: #fff" data-bs-toggle="modal" data-bs-target="#addModal">
                                    <i class="fa-solid fa-hexagon-plus me-1"></i>
                                    Tambah
                                </button>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">1</td>
                                        <th scope="row">Salwa Nur. Jb</th>
                                        <td>Salwa@gmail.com</td>
                                        <td>salwaa</td>
                                        <td>Admin</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Modal Add Members  -->

                            <form action="#" method="post">
                                <div class="modal-body">
                                    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Members</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="#" method="post">
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="name" class="col-form-label">Name</label>
                                                            <input name="name" type="text" class="form-control" id="name">
                                                        </div>
                                                        <div class="mb-3">
                                                        <label for="email" class="col-form-label">Email</label>
                                                            <input name="email" type="text" class="form-control" id="email">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="phone" class="col-form-label">Phone</label>
                                                            <input name="phone" type="text" class="form-control" id="phone">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="address" class="col-form-label">Address</label>
                                                            <input name="address" type="text" class="form-control" id="address">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="username" class="col-form-label">Username</label>
                                                            <input name="username" type="text" class="form-control" id="username">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="password" class="col-form-label">Password</label>
                                                            <input name="password" type="text" class="form-control" id="password">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="role" class="col-form-label">Role</label>
                                                            <input name="role" type="text" class="form-control" id="role">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <!-- End Content -->
                </div>
            </div>
        </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/dashboard.js' %}"></script>
    </body>
</html>
